{% extends "base.html" %}
{% block content %}
        <div class="featurette">
          <h2 class="featurette-heading">Agenda</h2>
          <p class="lead">Pick your sessions</p>
          <div class="btn-toolbar" style="margin: 0;">
            <section>
                Updating...
            </section>
          </div>
        </div>
        <p><b>GDayX</b> | Google Technologies for <code>&#60;Devs&#62;</code> and <b>Business.</b></p>
        <b>GDayX</b> | *Subject to change.</b>
        <hr class="featurette-divider">
{% endblock %}