{% extends "base.html" %}
{% block content %}
<div class="featurette">
    <!-- PRIMERAS LINEAS -->
    <section class="row">
        <div class="span8">
            <h2 class="featurette-heading">Welcome to G|DayX 2013</h2>


        </div>
    </section>

    <hr class="featurette-divider">
    <!-- TEXTO CONTENIDO -->
    <section class="row">
        <div class="span12">
            <span><b>GDayX</b> is a country level community event organized by <b>Google Developer
                Group, Google Business Group and Google Student Ambassadors in Vietnam</b> inspired by Google G|Days.</span>
        </div>
    </section>

    <section class="row space-content">
        <ul id="myTab" class="nav nav-tabs">

            <li><a href="#students" data-toggle="tab">For Students</a></li>
            <li><a href="#developers" data-toggle="tab">For Developers</a></li>
            <li><a class="active" href="#business" data-toggle="tab">For Businesses</a></li>
        </ul>

        <div class="tab-content">

            <div id="developers" class="tab-pane fade in active">

                <div class="span3" style="border:none !important;">
                    <img data-src="holder.js/300x200" alt="200x200" style="width: 200px; height: 200px;"
                         src="https://lh4.googleusercontent.com/-2oEVlNtfKQ0/UkPx1GVJg3I/AAAAAAAAADY/7WFDfhzTITQ/s441-no/logofinal.png">

                </div>
                <div class="span9">
                    <p>Google Developer Groups (GDGs) are for developers who are interested in Google's developer
                        technology; everything from the Android, App Engine, and Google Chrome platforms, to product
                        APIs like the Maps API,YouTube API and Google Calendar API.

                    <p>

                    <p>Google Developer Group Vietnam is run by passionate individuals in the local developer community
                        where they create an environment to learn about Google Technologies and Tools for developers.
                        This also allows one to see what local companies and developers are doing with these
                        technologies.</p>

                    <p>The official page is on <a
                            href="{{ gplusgdg }}">Google+</a>
                        GDG Vietnam has a <a href="{{ fbgdg }}">Facebook page</a> and are also
                        on Twitter.</p>

                    <p>GDG Manager: George Nguyen. Organizers: George Nguyen</p>
                </div>

            </div>
            <div id="business" class="tab-pane fade in">
                <div class="span3" style="border:none !important;">
                    <img data-src="holder.js/300x200" alt="200x200" style="width: 200px; height: 200px;"
                         src="img/biz.jpg">
                </div>
                <div class="span9">
                    <p>GBG Ho Chi Minh City is a community of professionals based in Vietnam aiming to promote the Internet and
                        online services among entrepreneurs, IT professionals, students and other enthusiasts. GBG
                        Ho Chi Minh City, with the primary focus on Google products and services, hopes to encourage the sharing
                        of knowledge and expertise within the community as well as with other GBGs and Google Inc. to
                        gain a clear competitive advantage for its members.</p>

                    <p>The official page is on <a
                            href="{{ gplusgbg }}">Google+</a>
                        GBG Ho Chi Minh City has a <a href="{{ fbgbg }}">Facebook group</a>,
                        LinkedIn group and are also on Twitter.</p>

                    <p>GBG Ho Chi Minh City Manager : Dung Go. Organizers: Dung Go</p>
                </div>
            </div>
            <div id="students" class="tab-pane fade in">
                <div class="span3" style="border:none !important;">
                    <img data-src="holder.js/300x200" alt="200x200" style="width: 200px; height: 200px;"
                         src="img/stud.png">
                </div>
                <div class="span9">
                    Google Student Ambassador (GSA) is a Community of students who love to use Google Products and bring the benefits of using Google Products to support student's life.&nbsp;
        <div>
            <ul>
                <li>
                    <span style="line-height:1.5">Our missions are:</span>
                </li>
                <ul>
                    <li>
                        <span style="line-height:1.5">Sharing experience when using Google Products to all of you.&nbsp;</span>
                    </li>
                    <li>
                        <span style="line-height:1.5">Organizing events to bring Google Products to you.</span>
                    </li>
                    <li>Making funny contests to help you more familiar with Google Products.</li>
                    <li>Growing up our community to all students in Vietnam.</li>
                </ul>
                <li>Our core members are from:</li>
                <ul>
                    <li>HCMC University of Technology</li>
                    <li>HCMC International University</li>
                    <li>Foreign Trade University</li>
                    <li>National Economic University&nbsp;</li>
                    <li>and of course all of you, who guys are interesting in Google Products :)</li>
                </ul>
                <li>We are using Google Products include:</li>
                <ul>
                    <li>Gmail</li>
                    <li>GPlus</li>
                    <li>Search</li>
                    <li>Hangout</li>
                    <li>Drive</li>
                    <li>Calendar</li>
                    <li>Blog</li>
                    <li>Site</li>
                </ul>
            </ul>
        </div>
        <div>
            <br>
        </div>
                </div>
            </div>

        </div>
    </section>

    <section class="row space-content">
        <div class="span12">
            <p></p>
        </div>
    </section>
    <hr class="featurette-divider">
</div>
{% endblock %}