{% extends "base.html" %}
{% block content %}
<div class="featurette">
<h2 class="featurette-heading">Our Partners and Sponsors<br></h2>
<!--<span class="muted" style="font-size:35px;">Nuestros Sponsors</span>-->
<div class="btn-toolbar" style="margin: 0;">
    <hr class="featurette-divider">
    <div class="btn-toolbar" style="margin: 0;">
        <div class="row-fluid">
            <ul class="thumbnails">
                <li class="span3">
                    <div class="thumbnail"><br>
                        <img data-src="holder.js/300x200" alt="300x200" style="width: 140px; height: 140px;"
                             src="img/logo6w.png">

                        <div class="caption text-center">
                            <h3><a href="https://plus.google.com/u/0/+google/" target="_blank">Google</a></h3>

                            <p>Google Vietnam</p>
                        </div>
                    </div>
                </li>
                <li class="span3">
                    <div class="thumbnail"><br>
                        <img data-src="holder.js/300x200" alt="300x200" style="width: 140px; height: 140px;"
                             src="img/gdg.jpg">

                        <div class="caption text-center">
                            <h3><a href="https://plus.google.com/118444516760608140335/posts" target="_blank">GDG
                                Vietnam</a></h3>

                            <p>Google Developer Group</p>
                        </div>
                    </div>
                </li>

                <li class="span3">
                    <div class="thumbnail"><br>
                        <img data-src="holder.js/300x200" alt="300x200" style="width: 140px; height: 140px;"
                             src="img/biz.jpg">

                        <div class="caption text-center">
                            <h3><a href="https://plus.google.com/104855956626529209027/posts" target="_blank">GBG
                                Vietnam</a></h3>

                            <p>Google Business Group</p>
                        </div>
                    </div>
                </li>
                <li class="span3" style="margin-left: 0;">
                    <div class="thumbnail"><br>
                        <img data-src="holder.js/300x200" alt="300x200" style="width: 140px; height: 140px;"
                             src="img/stud.png">

                        <div class="caption text-center">
                            <h3><a href="https://plus.google.com/u/0/+google/" target="_blank">GSA Vietnam</a>
                            </h3>

                            <p>Google Student Ambassadors</p>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
    </div>
    <div>

    </div>
</div>
<h2>Organizers</h2>
<br>

<div class="row-fluid">
    <ul class="thumbnails">
        <li class="span4">
            <div class="thumbnail"><br>
                <img data-src="holder.js/300x200" alt="300x200" style="width: 140px; height: 140px;"
                     src="https://lh4.googleusercontent.com/-hNKoWtUAiQg/AAAAAAAAAAI/AAAAAAAARa8/PuO3ZOHmGE0/s120-c/photo.jpg">

                <div class="caption">
                    <hgroup>
                        <h3>Dung Go</h3>

                    </hgroup>

                </div>
            </div>
        </li>
        <li class="span4">
            <div class="thumbnail"><br>
                <img data-src="holder.js/300x200" alt="300x200" style="width: 140px; height: 140px;"
                     src="https://lh4.googleusercontent.com/-j9FWps0o10I/AAAAAAAAAAI/AAAAAAAAA8c/WUWJ8bDlCXY/s120-c/photo.jpg">

                <div class="caption">
                    <hgroup>
                        <h3>George Nguyen</h3>

                    </hgroup>

                </div>
            </div>
        </li>
        <li class="span4">
            <div class="thumbnail"><br>
                <img data-src="holder.js/300x200" alt="300x200" style="width: 140px; height: 140px;"
                     src="https://lh5.googleusercontent.com/-7RR7wiBTAeo/AAAAAAAAAAI/AAAAAAAABkM/GEn-Q48RxAE/s120-c/photo.jpg">

                <div class="caption">
                    <hgroup>
                        <h3>Phillip Phung</h3>

                    </hgroup>

                </div>
            </div>
        </li>
    </ul>
</div>
<br>


<p><b>GDayX</b> | Google Technologies for <code>&#60;Devs&#62;</code> and <b>Business.</b></p>
<hr class="featurette-divider">
</div>
{% endblock %}